/* Navigation bar styles */

body {
    padding: 0px;
    margin: 0px;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}


.account-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 0px;
    padding: 30px 0px 0px 15px;
    background-color: rgb(226, 226, 226);
}

    .account-details h3 {
        margin: 0 0 10px 0px
    }

.details {
    text-align:center;
    width: 60%;
    height: 30px;
    margin: 15px;
    margin-top: 0px;
    padding-top: 5px;
    padding-left: 8px;
    border-radius: 17px;
    background-color: white;
}

.edit {
    padding: 4px 10px;
    border-radius: 17px;
    color: black;
    background-color: #f35207;
}
