/* Navigation bar styles */

body {
    padding: 0px;
    margin: 0px;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.account-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 0px;
    padding: 30px 0px 0px 15px;
    background-color: rgb(226, 226, 226);
}

    .account-details h3 {
        margin: 0 0 10px 0px
    }

.box {
    margin-top: 10px;
}

.details {
    width: 100%;
    height: 50px;
    padding-top: 3px;
    padding-left: 8px;
    border-radius: 17px;
    background-color: white;
    border: none;
    outline: none;
}

button[type="submit"] {
    height: 30px;
    width: 100%;
    margin-left: 4px;
    margin-top: 12px;
    border: none;
    border-radius: 15px;
    background-color: #f35207;
    color: white;
    transition: all 0.3s ease-in-out
}

    button[type="submit"]:hover {
        background-color: white;
        color: #f35207;
        box-shadow: 0 4px 8px 0 #af9d9d;
    }
