/* Navigation bar styles */

body {
    padding: 0px;
    margin: 0px;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}


.main {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.search {
    width: 20%;
    height: 100%;
    padding: 20px;
    margin: 0px;
    background-color: rgb(226, 226, 226);
}


.search input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin-top: 8px;
    box-sizing: border-box;
    border: none;
    border-radius: 15px;
    background-color: white;
    font-size: 16px;
    outline: none;
}

select {
    width: 100%;
    border: none;
    border-radius: 5px;
    margin-top: -40px;
    margin-bottom: 10px;
    outline: none;
}


button[type="submit"], .search input[type=button]{
    height: 30px;
    width: 100%;
    border: none;
    text-decoration: none;
    border-radius: 15px;
    background-color: #f35207;
    color: white;
    transition: all 0.3s ease-in-out
}

button[type="submit"]:hover, .search input[type=button]:hover,{
    background-color: white;
    color: #f35207;
    box-shadow: 0 4px 8px 0 #af9d9d;
    text-decoration: none
}

.search a {
    padding-top:7px;
    text-align: center;
    display:block;
    height: 30px;
    width: 100%;
    border: none;
    text-decoration: none;
    border-radius: 15px;
    background-color: #f35207;
    color: white;
    transition: all 0.3s ease-in-out
}

.search a:hover {
    background-color: white;
    color: #f35207;
    box-shadow: 0 4px 8px 0 #af9d9d;
    text-decoration: none
}

.reciepe-list-container {
    height: 104.5%;
    width: 80%;
}

.reciepe-list {
    margin: 10px;
    height: 98%;
    background-color: black;
}