
@{
    ViewBag.Title = "Edit";
}

<!DOCTYPE html>
<html>
<head>
    <title>What Can I Cook?</title>
    <link href="~/Styles/styleEditPage.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
          rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
</head>

<body>
        
    <div class="account-details">
        <h3>Your details: </h3>

        <form>
            <div class="box">
                <label>First Name:</label>
                <input type="text" class="details">
            </div>

            <div class="box">
                <label>Last Name:</label>
                <input type="text" class="details">
            </div>

            <div class="box">
                <label>Password:</label>
                <input type="text" class="details">
            </div>

            <div class="box">
                <p>Choose a category:</p>

                <input type="radio" id="detoate" name="categorie" value="detoate">
                <label for="detoate">de toate</label><br>

                <input type="radio" id="vegetarian" name="categorie" value="vegetarian">
                <label for="vegetarian">vegetarian</label><br>

                <input type="radio" id="vegan" name="categorie" value="vegan">
                <label for="vegan">vegan</label><br><br>
            </div>

            <button type="submit">Save</button>
        </form>

    </div>


</body>
</html>