@{
    ViewBag.Title = "Home Page";
}

@*<main>
        <section class="row" aria-labelledby="aspnetTitle">
             <h1 id="title">ASP.NET</h1>
             <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
             <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
         </section>

         <div class="row">
             <section class="col-md-4" aria-labelledby="gettingStartedTitle">
                 <h2 id="gettingStartedTitle">Getting started</h2>
                 <p>
                     ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                     enables a clean separation of concerns and gives you full control over markup
                     for enjoyable, agile development.
                 </p>
                 <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
             </section>
             <section class="col-md-4" aria-labelledby="librariesTitle">
                 <h2 id="librariesTitle">Get more libraries</h2>
                 <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                 <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
             </section>
             <section class="col-md-4" aria-labelledby="hostingTitle">
                 <h2 id="hostingTitle">Web Hosting</h2>
                 <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                 <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
             </section>
         </div>
    </main>*@
<!DOCTYPE html>
<html>
<head>
    <title>What Can I Cook?</title>
    <script type="text/javascript">
		function insertItemIntoListBox() {
			var x = document.getElementById("access");
			var item = document.getElementById("txtItem").value;
			var option = document.createElement("option");
			option.text = item;
			x.add(option);
			document.getElementById("txtItem").value = "";
			//alert(item + " has been added.");
		}
    </script>
    <link href="~/Styles/styleHomePage.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
          rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
</head>
<body>
   
    <!-- Search bar -->
    <div class="main">

        <div class="search">

            <h2>
                Search a recipe
            </h2>

            <form>
                <input type="text" placeholder="Type an ingredient" id="txtItem">
                <p><input type="button" onclick="insertItemIntoListBox()" value="Add it to the list" /></p>
                <br><br>
                <select id="access" size="10">
                </select>
                <button type="submit">Search Recipe</button>
                <p>Some search tips:</p>
                <ul>
                    <li>Use at least 3 ingredients for best result</li>
                    <br>
                    <br>
                    <li>If you misspelled an ingredient you can cilck it to remove it from the list</li>
                </ul>
            </form>

            <br><br>
            
            <h2>
                Create a new recipe
            </h2>
            
            @Html.ActionLink("Create", "Recipe", "Home", null, null)
        </div>

        <div class="reciepe-list-container">
            <div class="reciepe-list">

            </div>
        </div>

    </div>
</body>
</html>